In [1]:
from selenium import webdriver
import pandas as pd

In [2]:
bulk = webdriver.Chrome()

In [3]:
bulk.get('https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW')

In [4]:
table = bulk.find_elements('xpath',"//table[@class='a-bordered a-horizontal-stripes a-size-base a-span12 mojo-body-table mojo-table-annotated scrolling-data-table']")

In [37]:
all_text = table[0].text.split('\n')
big_list = []
for i in all_text:
    small_list = []
    small_list.append(i.split())
    big_list.append(small_list)

In [38]:
for i in big_list[:4]:
    print(i)

[['1', 'Avatar', '$2,923,706,026', '2009']]
[['2', 'Avengers:', 'Endgame', '$2,799,439,100', '2019']]
[['3', 'Avatar:', 'The', 'Way', 'of', 'Water', '$2,320,250,281', '2022']]
[['4', 'Titanic', '$2,264,743,305', '1997']]

In [17]:
total = []
for line in range(len(big)):
    small=[]
    for j in range(len(big[line])):
        title = ''
        small.append(big[line][j][0])
        for k in range(len(big[line][j])):
            if k != len(big[line][j])-1:
                if big[line][j][k+1][0]!='$':
                    title = title + ' '+ big[line][j][k+1]
                else:
                    small.append(big[line][j][-2])
            else:
                small.append(big[line][j][-1])
    small.insert(1,title.strip())
    print(small)
    total.append(small)

['1', 'Avatar 2009', '$2,923,706,026', '2009']
['2', 'Avengers: Endgame 2019', '$2,799,439,100', '2019']
['3', 'Avatar: The Way of Water 2022', '$2,320,250,281', '2022']
['4', 'Titanic 1997', '$2,264,743,305', '1997']
['5', 'Star Wars: Episode VII - The Force Awakens 2015', '$2,071,310,218', '2015']
['6', 'Avengers: Infinity War 2018', '$2,052,415,039', '2018']
['7', 'Spider-Man: No Way Home 2021', '$1,921,847,111', '2021']
['8', 'Jurassic World 2015', '$1,671,537,444', '2015']
['9', 'The Lion King 2019', '$1,663,075,401', '2019']
['10', 'The Avengers 2012', '$1,520,538,536', '2012']
['11', 'Furious 7 2015', '$1,515,341,399', '2015']
['12', 'Top Gun: Maverick 2022', '$1,495,696,292', '2022']
['13', 'Frozen II 2019', '$1,453,683,476', '2019']
['14', 'Barbie 2023', '$1,417,778,910', '2023']
['15', 'Avengers: Age of Ultron 2015', '$1,405,018,048', '2015']
['16', 'The Super Mario Bros. Movie 2023', '$1,360,454,146', '2023']
['17', 'Black Panther 2018', '$1,349,926,083', '2018']
['18', 'Harry Potter and the Deathly Hallows: Part 2 2011', '$1,342,359,942', '2011']
['19', 'Star Wars: Episode VIII - The Last Jedi 2017', '$1,334,407,706', '2017']
['20', 'Jurassic World: Fallen Kingdom 2018', '$1,310,466,296', '2018']
['21', 'Frozen 2013', '$1,284,540,518', '2013']
['22', 'Beauty and the Beast 2017', '$1,266,115,964', '2017']
['23', 'Incredibles 2 2018', '$1,243,225,667', '2018']
['24', 'The Fate of the Furious 2017', '$1,236,005,118', '2017']
['25', 'Iron Man 3 2013', '$1,215,577,205', '2013']
['26', 'Minions 2015', '$1,159,444,662', '2015']
['27', 'Captain America: Civil War 2016', '$1,155,046,416', '2016']
['28', 'Aquaman 2018', '$1,148,528,393', '2018']
['29', 'The Lord of the Rings: The Return of the King 2003', '$1,147,633,833', '2003']
['30', 'Skyfall 2012', '$1,142,471,295', '2012']
['31', 'Spider-Man: Far from Home 2019', '$1,131,927,996', '2019']
['32', 'Captain Marvel 2019', '$1,131,416,446', '2019']
['33', 'Transformers: Dark of the Moon 2011', '$1,123,794,079', '2011']
['34', 'Jurassic Park 1993', '$1,113,138,548', '1993']
['35', 'Transformers: Age of Extinction 2014', '$1,104,054,072', '2014']
['36', 'The Dark Knight Rises 2012', '$1,081,169,825', '2012']
['37', 'Star Wars: Episode IX - The Rise of Skywalker 2019', '$1,077,022,372', '2019']
['38', 'Joker 2019', '$1,074,458,282', '2019']
['39', 'Toy Story 4 2019', '$1,073,841,394', '2019']
['40', 'Toy Story 3 2010', '$1,067,316,101', '2010']
['41', "Pirates of the Caribbean: Dead Man's Chest 2006", '$1,066,179,747', '2006']
['42', 'Rogue One: A Star Wars Story 2016', '$1,058,682,142', '2016']
['43', 'Aladdin 2019', '$1,054,304,000', '2019']
['44', 'Pirates of the Caribbean: On Stranger Tides 2011', '$1,046,721,266', '2011']
['45', 'Despicable Me 3 2017', '$1,034,800,131', '2017']
['46', 'Finding Dory 2016', '$1,029,266,989', '2016']
['47', 'Star Wars: Episode I - The Phantom Menace 1999', '$1,027,082,707', '1999']
['48', 'Zootopia 2016', '$1,025,521,689', '2016']
['49', 'Alice in Wonderland 2010', '$1,025,468,216', '2010']
['50', "Harry Potter and the Sorcerer's Stone 2001", '$1,023,864,226', '2001']
['51', 'The Hobbit: An Unexpected Journey 2012', '$1,017,030,651', '2012']
['52', 'The Dark Knight 2008', '$1,006,234,167', '2008']
['53', 'Jurassic World Dominion 2022', '$1,001,978,080', '2022']
['54', 'Jumanji: Welcome to the Jungle 2017', '$995,339,117', '2017']
['55', 'Harry Potter and the Deathly Hallows: Part 1 2010', '$977,070,383', '2010']
['56', 'Despicable Me 2 2013', '$970,766,005', '2013']
['57', 'The Lion King 1994', '$968,511,805', '1994']
['58', 'The Jungle Book 2016', '$967,724,775', '2016']
['59', 'The Hobbit: The Battle of the Five Armies 2014', '$962,201,338', '2014']
['60', "Pirates of the Caribbean: At World's End 2007", '$961,691,209', '2007']
['61', 'The Hobbit: The Desolation of Smaug 2013', '$959,027,992', '2013']
['62', 'Doctor Strange in the Multiverse of Madness 2022', '$955,775,804', '2022']
['63', 'The Lord of the Rings: The Two Towers 2002', '$947,944,270', '2002']
['64', 'Harry Potter and the Order of the Phoenix 2007', '$942,278,045', '2007']
['65', 'Finding Nemo 2003', '$941,637,960', '2003']
['66', 'Minions: The Rise of Gru 2022', '$939,628,210', '2022']
['67', 'Harry Potter and the Half-Blood Prince 2009', '$934,519,387', '2009']
['68', 'Shrek 2 2004', '$928,760,770', '2004']
['69', 'Harry Potter and the Chamber of Secrets 2002', '$925,735,771', '2002']
['70', 'Oppenheimer 2023', '$912,604,610', '2023']
['71', 'Bohemian Rhapsody 2018', '$910,809,311', '2018']
['72', 'The Battle at Lake Changjin 2021', '$902,548,476', '2021']
['73', 'The Lord of the Rings: The Fellowship of the Ring 2001', '$898,204,420', '2001']
['74', 'Harry Potter and the Goblet of Fire 2005', '$896,815,310', '2005']
['75', 'Spider-Man 3 2007', '$894,983,373', '2007']
['76', 'The Secret Life of Pets 2016', '$894,328,469', '2016']
['77', 'Ice Age: Dawn of the Dinosaurs 2009', '$886,686,817', '2009']
['78', 'Spectre 2015', '$880,705,312', '2015']
['79', 'Spider-Man: Homecoming 2017', '$880,166,924', '2017']
['80', 'Ice Age: Continental Drift 2012', '$877,244,782', '2012']
['81', 'Batman v Superman: Dawn of Justice 2016', '$873,637,528', '2016']
['82', 'Wolf Warrior 2 2017', '$870,325,439', '2017']
['83', 'Star Wars: Episode III - Revenge of the Sith 2005', '$868,390,560', '2005']
['84', 'The Hunger Games: Catching Fire 2013', '$865,011,746', '2013']
['85', 'Guardians of the Galaxy Vol. 2 2017', '$863,756,051', '2017']
['86', 'Black Panther: Wakanda Forever 2022', '$859,208,836', '2022']
['87', 'Inside Out 2015', '$858,848,019', '2015']
['88', 'Venom 2018', '$856,085,151', '2018']
['89', 'Thor: Ragnarok 2017', '$855,301,806', '2017']
['90', 'The Twilight Saga: Breaking Dawn - Part 2 2012', '$848,593,948', '2012']
['91', 'Guardians of the Galaxy Vol. 3 2023', '$845,555,777', '2023']
['92', 'Inception 2010', '$839,030,630', '2010']
['93', 'Transformers: Revenge of the Fallen 2009', '$836,303,693', '2009']
['94', 'Spider-Man 2002', '$825,025,036', '2002']
['95', 'Wonder Woman 2017', '$822,854,286', '2017']
['96', 'Hi, Mom 2021', '$822,009,764', '2021']
['97', 'Independence Day 1996', '$817,400,891', '1996']
['98', 'Coco 2017', '$814,337,054', '2017']
['99', 'Fantastic Beasts and Where to Find Them 2016', '$814,044,001', '2016']
['100', 'Shrek the Third 2007', '$813,367,380', '2007']
['101', 'Jumanji: The Next Level 2019', '$801,693,929', '2019']
['102', 'Harry Potter and the Prisoner of Azkaban 2004', '$797,660,766', '2004']
['103', 'Pirates of the Caribbean: Dead Men Tell No Tales 2017', '$795,922,298', '2017']
['104', 'E.T. the Extra-Terrestrial 1982', '$792,910,554', '1982']
['105', 'Mission: Impossible - Fallout 2018', '$791,657,398', '2018']
['106', '2012 2009', '$791,217,826', '2009']
['107', 'Indiana Jones and the Kingdom of the Crystal Skull 2008', '$790,653,942', '2008']
['108', 'Spider-Man 2 2004', '$788,976,453', '2004']
['109', 'Fast & Furious 6 2013', '$788,680,968', '2013']
['110', 'Deadpool 2 2018', '$785,896,609', '2018']
['111', 'Deadpool 2016', '$782,836,791', '2016']
['112', 'Star Wars: Episode IV - A New Hope 1977', '$775,398,007', '1977']
['113', 'No Time to Die 2021', '$774,153,007', '2021']
['114', 'Guardians of the Galaxy 2014', '$773,350,147', '2014']
['115', 'The Batman 2022', '$770,962,583', '2022']
['116', 'Thor: Love and Thunder 2022', '$760,928,081', '2022']
['117', 'Fast & Furious Presents: Hobbs & Shaw 2019', '$760,732,926', '2019']
['118', 'The Da Vinci Code 2006', '$760,006,945', '2006']
['119', 'Maleficent 2014', '$759,853,685', '2014']
['120', 'The Amazing Spider-Man 2012', '$757,930,663', '2012']
['121', 'The Hunger Games: Mockingjay - Part 1 2014', '$755,356,711', '2014']
['122', 'Shrek Forever After 2010', '$752,600,867', '2010']
['123', 'Gravity 2013', '$748,049,949', '2013']
['124', "Madagascar 3: Europe's Most Wanted 2012", '$746,921,274', '2012']
['125', 'Suicide Squad 2016', '$746,846,894', '2016']
['126', 'X-Men: Days of Future Past 2014', '$746,045,700', '2014']
['127', 'The Chronicles of Narnia: The Lion, the Witch and the Wardrobe 2005', '$745,013,115', '2005']
['128', 'Monsters University 2013', '$743,559,645', '2013']
['129', 'The Matrix Reloaded 2003', '$741,847,937', '2003']
['130', 'Up 2009', '$735,099,102', '2009']
['131', 'Ne Zha 2019', '$726,264,074', '2019']
['132', 'F9: The Fast Saga 2021', '$726,229,501', '2021']
['133', 'Captain America: The Winter Soldier 2014', '$714,421,503', '2014']
['134', 'The Twilight Saga: Breaking Dawn - Part 1 2011', '$712,205,856', '2011']
['135', 'The Twilight Saga: New Moon 2009', '$711,025,481', '2009']
['136', 'Dawn of the Planet of the Apes 2014', '$710,644,566', '2014']
['137', 'Transformers 2007', '$709,709,780', '2007']
['138', 'The Amazing Spider-Man 2 2014', '$708,982,323', '2014']
['139', 'Fast X 2023', '$704,709,660', '2023']
['140', 'Interstellar 2014', '$703,170,837', '2014']
['141', 'It 2017', '$701,842,551', '2017']
['142', 'The Wandering Earth 2019', '$699,992,512', '2019']
['143', 'The Twilight Saga: Eclipse 2010', '$698,509,825', '2010']
['144', 'Mission: Impossible - Ghost Protocol 2011', '$694,713,380', '2011']
['145', 'Mamma Mia! 2008', '$694,478,392', '2008']
['146', 'The Hunger Games 2012', '$694,394,724', '2012']
['147', 'Spider-Man: Across the Spider-Verse 2023', '$689,810,862', '2023']
['148', 'Moana 2016', '$687,228,908', '2016']
['149', 'Detective Chinatown 3 2021', '$686,257,563', '2021']
['150', 'Mission: Impossible - Rogue Nation 2015', '$682,716,636', '2015']
['151', 'Forrest Gump 1994', '$678,226,465', '1994']
['152', 'Doctor Strange 2016', '$677,796,076', '2016']
['153', 'The Sixth Sense 1999', '$672,806,432', '1999']
['154', 'Man of Steel 2013', '$668,045,518', '2013']
['155', 'Ice Age: The Meltdown 2006', '$667,094,506', '2006']
['156', 'Kung Fu Panda 2 2011', '$665,692,281', '2011']
['157', 'Justice League 2017', '$657,926,987', '2017']
['158', 'Big Hero 6 2014', '$657,869,686', '2014']
['159', 'Fantastic Beasts: The Crimes of Grindelwald 2018', '$654,855,901', '2018']
['160', 'Pirates of the Caribbean: The Curse of the Black Pearl 2003', '$654,264,015', '2003']
['161', 'Men in Black 3 2012', '$654,213,485', '2012']
['162', 'Star Wars: Episode II - Attack of the Clones 2002', '$653,779,970', '2002']
['163', 'The Hunger Games: Mockingjay - Part 2 2015', '$653,428,261', '2015']
['164', 'Thor: The Dark World 2013', '$644,783,140', '2013']
['165', 'Sing 2016', '$634,338,384', '2016']
['166', 'Kung Fu Panda 2008', '$632,083,197', '2008']
['167', 'The Incredibles 2004', '$631,607,053', '2004']
['168', 'The Martian 2015', '$630,620,818', '2015']
['169', 'Hancock 2008', '$629,443,428', '2008']
['170', 'Water Gate Bridge 2022', '$626,571,697', '2022']
['171', 'Fast Five 2011', '$626,137,675', '2011']
['172', 'Iron Man 2 2010', '$623,933,331', '2010']
['173', 'Ratatouille 2007', '$623,726,085', '2007']
['174', 'Ant-Man and the Wasp 2018', '$622,674,139', '2018']
['175', 'How to Train Your Dragon 2 2014', '$621,537,519', '2014']
['176', 'Logan 2017', '$619,179,950', '2017']
['177', 'The Lost World: Jurassic Park 1997', '$618,638,999', '1997']
['178', 'Casino Royale 2006', '$616,505,162', '2006']
['179', 'The Passion of the Christ 2004', '$612,054,506', '2004']
['180', 'Life of Pi 2012', '$609,016,565', '2012']
['181', 'Ready Player One 2018', '$607,274,134', '2018']
['182', 'Transformers: The Last Knight 2017', '$605,425,157', '2017']
['183', 'Madagascar: Escape 2 Africa 2008', '$603,900,354', '2008']
['184', 'War of the Worlds 2005', '$603,873,119', '2005']
['185', 'Tangled 2010', '$592,462,816', '2010']
['186', 'Quantum of Solace 2008', '$589,580,482', '2008']
['187', 'Men in Black 1997', '$589,390,539', '1997']
['188', 'The Croods 2013', '$587,235,983', '2013']
['189', 'The Hangover Part II 2011', '$586,764,305', '2011']
['190', 'Iron Man 2008', '$585,796,247', '2008']
['191', 'I Am Legend 2007', '$585,410,052', '2007']
['192', 'Monsters, Inc. 2001', '$579,707,738', '2001']
['193', 'Operation Red Sea 2018', '$579,330,426', '2018']
['194', 'Night at the Museum 2006', '$574,481,229', '2006']
['195', 'Fifty Shades of Grey 2015', '$569,651,467', '2015']
['196', 'The Little Mermaid 2023', '$569,592,298', '2023']
['197', 'Kong: Skull Island 2017', '$566,652,812', '2017']
['198', 'Mission: Impossible - Dead Reckoning Part One 2023', '$566,102,022', '2023']
['199', 'The Smurfs 2011', '$563,749,323', '2011']
['200', 'Cars 2 2011', '$559,852,396', '2011']

In [40]:
df = pd.DataFrame(total,columns=["Rank", "Movie Title", "Lifetime Gross", "Release Date"])
df.set_index("Rank", inplace=True)
df

,Movie Title,Lifetime Gross,Release Date
Rank,,,
1,Avatar 2009,"$2,923,706,026",2009
2,Avengers: Endgame 2019,"$2,799,439,100",2019
3,Avatar: The Way of Water 2022,"$2,320,250,281",2022
4,Titanic 1997,"$2,264,743,305",1997
5,Star Wars: Episode VII - The Force Awakens 2015,"$2,071,310,218",2015
...,...,...,...
196,The Little Mermaid 2023,"$569,592,298",2023
197,Kong: Skull Island 2017,"$566,652,812",2017
198,Mission: Impossible - Dead Reckoning Part One ...,"$566,102,022",2023
199,The Smurfs 2011,"$563,749,323",2011
200,Cars 2 2011,"$559,852,396",2011

In [35]:
df.to_csv('C://Users/Omar/anaconda/Web Scrapping/Movia Data.csv',encoding='UTF-8')